.html-logo{
	width: 197px;
	height: 60px;
	margin: 27px 48px 27px 0px;
	display: inline-block;
	vertical-align: middle;
}
.navbar-li{
	color: #3D58A6;
	font-size: 24px;
	display: inline-block;
	margin-right: 35px; 
}
.navbar{
	display: inline-block;
	vertical-align: middle;
}
li:nth-child(4){
	margin-right: 100px;
}
.web-links{
	display: inline-block;
	vertical-align: middle;

}
.web-links:after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #363E97;
	margin: 0px 35px;
}
.serch{
	display: inline-block;
    vertical-align: middle;
}
/*start first section*/
.first-section{
	background-color: #E6E6E6;
	padding: 30px 0px;
}
.container{
	position: relative;
	width: 1170px;
	margin: 0 auto;
}
.first-sec-photo{
	width: 1170px;
	height: 461px;
	margin-top: 120px;
}
.first-section-text{
	position: absolute;
	width: 357px;
	height: 150px;
	bottom: 10px;
	left: 30px;
    color: white;
    font-size: 30px;
}
.white-html{
	position: absolute;
    width: 100px;
    height: 30px;
    bottom: 30px;
    right: 30px
}
/*start second section*/
.second-section{
    background-color: #363E97;
	padding: 0px 100px 90px 100px;
}
.box{
	position: relative;
	width: 570px;
	height: 320px;
	background-color: white;
	display: inline-block;
}
.box-text{
	position: absolute;
    top: 50%;
    right: 50%;
    width: 350px;
    transform: translate(55%,-48%);
    font-size: 16px;
}
.upper{
	text-transform: uppercase;
}
.lower{
	text-transform: lowercase;
}
.second-title{
	padding: 45px 0px;
	font-size: 24px;
	color: #FFFFFF;
}
.box:last-child{
	margin-left: 13px;
}
/*start third section*/
.third-section{
	background-color: #BDCCD4;
	padding: 0px 100px 90px 100px;
}
.third-title{
  padding: 45px 0px;
  color: #3D58A6;
  font-size: 24px;
}
.third-box{
	position: relative;
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	display: inline-block;
	margin-right: 19px;
}
.third-box:last-child{
	margin-right: 0px;
}
.third-section-photo{
	position: absolute;
}
.third-box-title{
 position: absolute;
 bottom: 20px;
 left: 30px;
 font-size: 22px;
 color: #333333;
}
header{
	position: fixed;
	z-index: 2;
	width: 100%;
	background-color: white;
}
section{
	z-index: 1;
}
/*start four-section*/
.four-section{
	padding: 0px 100px 30px 100px;
	background-color: #E6E6E6;
}
.four-section-title{
	padding: 35px 0px;
	font-size: 24px;
}
.four-section-box{
	position: relative;
	width: 567px;
	height: 232px;
	background-color: #F2F2F2;
	display: inline-block;
}
.four-section-box:last-child{
	margin-left: 19px
}
.four-box-title{
	position: absolute;
	color: #3D58A6;
	top: 15px;
    left: 20px;
    font-size: 22px;
}
.four-section-logo{
	position: absolute;
	top: 48px;
    left: 48px;
}
.four-text{
	position: absolute;
	width: 355px;
	height: 157px;
	top: 50px;
	right: 30px;
	color: #58595B;
	font-size: 20px;
}
.read-more{
	position: absolute;
	bottom:20px;
	right: 0;
	font-size: 14px;
	color: #3D58A6;
}