.html-logo{
	width: 197px;
	height: 60px;
	margin: 27px 100px 27px 50px;
	display: inline-block;
	vertical-align: middle;
}
.navbar-li{
	color: #3D58A6;
	font-size: 24px;
	display: inline-block;
	margin-right: 35px; 
}
.navbar{
	display: inline-block;
	vertical-align: middle;
}
li:nth-child(4){
	margin-right: 100px;
}
.web-links{
	display: inline-block;
	vertical-align: middle;

}
.web-links:after{
	content: "";
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #363E97;
	margin: 0px 35px;
}
.serch{
	display: inline-block;
    vertical-align: middle;
}
.first-section{
	background-color: #E6E6E6;
}